In [2]:
#Ans 1:
x=float(input("Enter the value in kilometers:"))
miles=0.621371*x
print("The number of miles= ", miles)

Enter the value in kilimeters:10
The number of miles=  6.21371

In [2]:
#Ans2:
c=float(input("Enter the value in celcius:"))
f=(c*1.8)+32
print("value in fahrenheit",f)

Enter the value in celcius:17
value in fahrenheit 62.6

In [2]:
#Ans 3:
import calendar
year=int(input("Enter the year: "))
print(calendar.calendar(year))

Enter the year: 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [5]:
#Ans 4:
import cmath
  
x = 1
y = 5
z = 3
  

h = (y**2) - (4 * x*z)
  

a1 = (-y-cmath.sqrt(h))/(2 * x)
a2 = (-y + cmath.sqrt(h))/(2 * x)
  

print('The roots are:',a1,a2)

The roots are: (-4.302775637731995+0j) (-0.6972243622680054+0j)

In [1]:
#Ans 5
x = int(input("Enter the value of x: "))
y= int(input("Enter the value of y: "))

print('Original value of x is {} and y is {}'.format(x, y))

x = x + y
y = x - y
x = x - y

print('New value of x is {} and y is {}'.format(x, y))

Enter the value of x: 78
Enter the value of y: 79
Original value of x is 78 and y is 79
New value of x is 79 and y is 78